<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/css/base.css">
	<script src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<header>我的博客<a href="__MODULE__/Login/logout">[退出]</a><header>
	<main>
		<div>
			<div class="left">
				<ul>
					<li><a href="__MODULE__/Article/index">文章</a></li>
					<li><a href="">日记</a></li>
					<li><a href="">相册</a></li>
					<li><a href="">文件</a></li>
				</ul>
			</div>
			<block name="content">
			</block>
		</div>
	<main>

</body>
</html>